<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.popper.daw">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.DAW">
        <activity
            android:name=".activity.account.AddAddressActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity
            android:name=".activity.account.EditAddressActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity
            android:name=".activity.account.AccountActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activity.director.DirectorActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activity.colorist.ColoristDetailActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activity.colorist.ColoristActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activity.distribute.TrackActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activity.distribute.EngineerActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activity.distribute.FactoryActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activity.manager.MaterialsActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activity.manager.ManagerAgencyDetailActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
    </application>

</manifest>